// Compile this

$bg: #fff;
$purple: #e7c6fd;
$eyes: #4a444e;
$pink: #fed1f0;
$yellow: #f8f186;
$grey: #dedede;
$green: #a4e5a5;
$dark-green: #72b572;
$light-green: #cbfbcb;
$red: #f89e9d;
$dark-red: #da7376;
$stroke: #8e8097;

@font-face {
  font-family: 'gooddogregular';
  src: url('fonts/GoodDog-webfont.eot');
  src: url('fonts/GoodDog-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/GoodDog-webfont.woff') format('woff'),
       url('fonts/GoodDog-webfont.ttf') format('truetype'),
       url('fonts/GoodDog-webfont.svg#gooddogregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.artboard {
  background: $bg;
  border: 20px solid #fff;
  border-radius: 3px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, .2);
  height: 800px;
  margin: 50px auto;
  position: relative;
  text-align: center;
  width: 1200px;
}

.lsp {
  height: 645px;
  margin: 0 auto;
  position: relative;
  width: 560px;
  animation: bobUpDown 1000ms ease-in-out alternate infinite;
}

.lsp__middle {
  height: 325px;
  width: 120px;
  background: $purple;
  left: calc(50% - 60px);
  position: absolute;
  top: 35%;
}

.lump {
  background: $purple;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
}

.lump--large {
  height: 230px;
  width: 260px;
}

.lump--small {
  height: 115px;
  width: 130px;
}

.lump-1 {
  left: calc(50% - 130px);
}

.lump-2 {
  left: 2%;
  top: 25%;
  transform: rotate(45deg);
}

.lump-3 {
  right: 2%;
  top: 25%;
  transform: rotate(-45deg);
}

.lump-4 {
  top: 50%;
  left: 5%;
  transform: rotate(-45deg);
}

.lump-5 {
  right: 5%;
  top: 50%;
  transform: rotate(45deg);
}

.lump--small-1 {
  top: 80%;
  left: 22%;
}

.lump--small-2 {
  top: 82%;
  left: calc(50% - 65px);
}

.lump--small-3 {
  top: 80%;
  right: 22%;
}

.eye {
  background: $eyes;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  z-index: 2;
  margin: 0 auto;
  top: 20%;
  position: relative;
}

.eye-1 {
  left: 12%;
  transform: rotate(-45deg);
}

.eye-2 {
  right: 12%;
  transform: rotate(45deg);
}

.pupil {
  background: #fff;
  border-radius: 50%;
  height: 16px;
  margin: 0 20%;
  width: 16px;
  position: relative;
  top: 50%;
  animation: eyeShift 3000ms ease-in-out alternate infinite;
}

.blush {
  background: $pink;
  border-radius: 50%;
  height: 24px;
  width: 38px;
  margin: 0 auto;
  top: 28%;
  position: relative;
}

.blush-1 {
  left: 10%;
  transform: rotate(-45deg);
}

.blush-2 {
  right: 10%;
  transform: rotate(45deg);
}

.mouth {
  width: 12px;
  height: 12px;
  border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
  border: 4px solid $stroke;
  transform: rotate(-90deg);
  margin: 0 auto;
  position: relative;
  top: 100%;
}

.star {
  border-bottom: 70px solid $yellow;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  color: $yellow;
  display: block;
  height: 0;
  position: relative;
  transform: rotate(35deg) scale(.35);
  width: 0;
  top: 50%;
  left: 12%;
}

.star::before {
  border-bottom: 80px solid $yellow;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  content: '';
  display: block;
  height: 0;
  left: -65px;
  position: absolute;
  top: -45px;
  transform: rotate(-35deg);
  width: 0;
}

.star::after {
  border-bottom: 70px solid $yellow;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  color: $yellow;
  content: '';
  display: block;
  height: 0;
  left: -105px;
  position: absolute;
  top: 3px;
  transform: rotate(-70deg);
  width: 0;
}

.arm {
  height: 45px;
  width: 40px;
  border: 4px solid $stroke;
  border-top: 0;
  border-radius: 0 0 50% 50%;
  position: absolute;
  top: 35%;
  z-index: 2;
}

.arm-1 {
  left: 75%;
  transform: rotate(-40deg);
}

.arm-2 {
  right: 75%;
  transform: rotate(40deg);
}

.lsp-shadow {
  background: $grey;
  border-radius: 50%;
  height: 56px;
  margin: 0 auto;
  width: 330px;
  animation: shadowScale 1000ms ease-in-out alternate infinite;
}

@keyframes bobUpDown {
  from {
    transform: translateY(-5px);
  }

  to {
    transform: translateY(5px);
  }
}

@keyframes eyeShift {
  from {
    transform: translateX(10px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes shadowScale {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(.8);
  }
}

.beans {
  height: 140px;
  width: 100px;
  background: $green;
  position: absolute;
  bottom: 10%;
  left: 10%;
  z-index: 2;
}

.beans::before {
  background: $light-green;
  width: 100%;
  height: 25px;
  top: -25px;
  position: absolute;
  content: '';
  border-radius: 50%;
  left: 0;
  top: -10px;
  z-index: 2;
}

.beans::after {
  background: $green;
  width: 100%;
  height: 25px;
  position: absolute;
  content: '';
  border-radius: 50%;
  left: 0;
  bottom: -10px;
}

.beans-shadow {
  background: $grey;
  width: 136px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  top: 10px;
  left: 7%;
  transform: rotate(-5deg);
}

.label {
  background: $light-green;
  color: $dark-green;
  font-family: 'gooddogregular';
  font-size: 30px;
  top: 12%;
  position: relative;
  padding: 30px 10px 5px 10px;
}

.label::before {
  background: $green;
  width: 100%;
  height: 25px;
  top: -10px;
  position: absolute;
  content: '';
  border-radius: 50%;
  left: 0;
}

.label::after {
  background: $light-green;
  width: 100%;
  height: 25px;
  bottom: -15px;
  position: absolute;
  content: '';
  border-radius: 50%;
  left: 0;
  z-index: 2;
}
